{% include 'admin_header.html' %}

<br />
<br />

<section class="vh-200" style="background-color: #ffffff">
    <div class="container h-100">
        <br /><br /><br />
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"></p>
                                <h1 class="bounceInDown" style="color: rgb(21, 37, 40); margin-right: 30px">
                                    Slot Registration
                                </h1>

                                <form method="post">
                                    <table>
                                        <tr>
                                            <td>
                                                <input
                                                    type="text"
                                                    name="sd"
                                                    style="font-size: 22px"
                                                    class="form-control"
                                                    placeholder="Slot"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select name="location" id="" class="form-control" required>
                                                    <option value="">Select</option>
                                                    {% for i in d %}
                                                    <option value="{{i.location_id}}">{{i.location_name}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    name="amount"
                                                    placeholder="Amount"
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" align="center">
                                                <input
                                                    type="submit"
                                                    value="Register"
                                                    style="background-color: rgb(255, 111, 60)"
                                                    class="btn btn-warning"
                                                    name="submit"
                                                />
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="static/images/pngwing.com(42).png" class="img-fluid" alt="Sample image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<center>
    <table style="width: 1200px">
        <tr>
            <th>Slot</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Location</th>
            <th>Image</th>
        </tr>
        {% for i in q %}
        <tr>
            <td>{{i.slot_description}}</td>
            <td>{{i.slot_status}}</td>
            <td>{{i.aamount}}</td>
            <td>{{i.location.}}</td>
            <td>{{i.location.location_name}}</td>
            <td><img src="/static/{{i.qrcode}}" alt="" width="250px" /></td>
        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}

<style>
    th,
    td {
        text-align: center;
    }
</style>
